/* ######################################
                GENERAL
#######################################*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: cinzel;
    src: url("../fonts/Cinzel/static/Cinzel-Regular.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

/* 
Font: Cinzel, poppins.
border: #ccc:
color logo: #999:
color home: #fff;
color: #333; 
*/

/* ######################################
                HEADER
#######################################*/

header h1 {
    padding: 10px 5%;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #999;
}

header section {
    background-image: url("../img/background_home.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

header section div {
    width: 300px;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}

header section h2 {
    font-family: cinzel;
    font-weight: lighter;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
}

/* ######################################
                MAIN
#######################################*/

main {
    padding: 0 5%;
}

main h1,
main p,
footer p {
    color: #333;
}

main article,
main section {
    padding-top: 10vh;
    text-align: center;
}

main article h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "cinzel";
    font-size: 1.1em;
    padding-bottom: 3vh;
}

main article p {
    text-align: center;
    font-family: poppins;
    font-size: 0.8em;
}

main section img {
    width: 30%;
    padding: 0 4% 0 0;
}

main section img.gab_line {
    padding-top: 6vh;
}

main section img.nopadding_right {
    padding-right: 0;
}

main article ul {
    list-style: none;
}

main article ul li {
    text-align: left;
    padding-bottom: 7px;
}

main article ul li.sold_out::after {
    content: " - SOLD OUT";
    color: red;
}

main article ul li.sold_out:nth-of-type(4)::after {
    content: " - ONLY 4 SPOT AVAILABLE";
    color: red;
}

main article ul li.available::after {
    content: " - AVAILABLE";
    color: green;
}

main article p span.sold_out {}

main article p span.available {
    color: green;
}

/* ######################################
                FOOTER
#######################################*/

footer {
    border-top: 1px solid #ccc;
    margin-top: 10vh;
    text-align: center;
    padding: 25px 0;
}

footer h2 {
    font-family: cinzel;
    font-weight: lighter;
    font-size: 1.1em;
    text-transform: uppercase;
    display: inline;
}

footer img {
    width: 30px;
    padding: 0 15px;
    vertical-align: bottom;
}