/* ######################################
                GENERAL
#######################################*/

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: cinzel;
    src: url("../fonts/Cinzel/static/Cinzel-Regular.ttf");
}

@font-face {
    font-family: poppins;
    src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

/* 
Font: Cinzel, poppins.
border: #ccc:
color logo: #999:
color home: #fff;
color: #333; 
*/

/* ######################################
                HEADER
#######################################*/
body {
    /* width:1090px; */
}

header h1 {
    padding: 10px 5%;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #999;
}

header section {
    background-image: url("../img/background_home.avif");
    background-size: cover;
    background-repeat: no-repeat;
}

header section div {
    width: 300px;
    margin: 0 auto;
    padding: 150px 0;
    text-align: center;
}

header section h2 {
    font-family: cinzel;
    font-weight: lighter;
    text-transform: uppercase;
    color: #fff;
    font-size: 3em;
}

/* ######################################
                MAIN
#######################################*/

main {
    padding: 0 5%;
}

main article h1 {
    text-align: center;
    color: #333;
    text-transform: uppercase;
    font-family: "cinzel";
    font-size: 1.1em;
    padding-top: 10vh;
    padding-bottom: 3vh;
}

main article p{
    text-align: center;
    font-family: poppins;
    font-size: 0.8em;
} 

/* ######################################
                FOOTER
#######################################*/